:root {
    --cutecolor: rgb(154, 192, 180);
    --shadow: 3px 3px 10px 0px #969696a7;
    /* display: flex;
    justify-content: center; */
    --padding: 40px;
    padding: var(--padding);
    background-color: rgb(182, 173, 173);
    min-height: 100vh;
}

h1,
h2,
h3 {
    margin-top: 0;
}

body {
    margin: 0 auto;
    /* flex: 0 1 1000px; */
    height: 100%;
    max-width: 1000px;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 200px 1fr 350px;
}



footer {
    background-color: var(--cutecolor);
}

img {
    box-shadow: var(--shadow);
}

header img {
    width: 200px;
    height: 210px;
    object-position: right 80%;
    object-fit: cover;
}

footer img {
    flex: 1 1 300px;
    height: 100%;
    max-width: 350px;
    object-fit: contain;
    background-color: black;
}

header {
    position: relative;
    padding: 0 var(--padding);
}

header:before {
    box-shadow: var(--shadow);
    content: "";
    position: absolute;
    background-color: var(--cutecolor);
    top: -120px;
    right: 0;
    left: 0;
    bottom: 0;
    transform: skewY(-10deg);
    transform-origin: 50% 0;
}

header>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_img_div {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.title {
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.565);
    color: white;
}

header section {
    background-color: whitesmoke;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 10px;
}

main {
    padding: var(--padding);
    margin-top: 100px;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.card {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 10px 10px 0px 10px;
}

.card h3 {
    margin-top: 10px;
}

.card .mockimg {
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.mockimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
}

.card:nth-child(1) .mockimg::before {

    background-image: linear-gradient(to bottom, red 20%, orange 20% 40%, yellow 40% 60%, rgb(21, 181, 0) 60% 80%, blue 80%);

}

.card:nth-child(2) .mockimg::before {
    background-image: linear-gradient(to bottom, skyblue 20%, pink 20% 40%, white 40% 60%, pink 60% 80%, skyblue 80%);
    opacity: 0.5;
}

.card:nth-child(3) .mockimg::before {
    background-image: linear-gradient(to bottom, rgb(21, 181, 0) 20%, rgb(62, 217, 83) 20% 40%, white 40% 60%, gray 60% 80%, black 80%);
}

.card:nth-child(4) .mockimg::before {
    background-image: linear-gradient(to bottom, orange 20%, rgb(240, 213, 58) 20% 40%, white 40% 60%, skyblue 60% 80%, rgb(74, 74, 170) 80%)
}

.card:nth-child(5) .mockimg::before {
    background-image: linear-gradient(to bottom, black 25%, gray 25% 50%, white 50% 75%, purple 75%);

}



.card:nth-child(6) .mockimg::before {
    background-image: linear-gradient(to bottom, yellow 25%, white 25% 50%, purple 50% 75%, black 75%);
}

.card:nth-child(5) .mockimg {
    text-shadow: 2px -2px 2px white,
        1px 1px 1px gray;
}

.card:nth-child(6) .mockimg {
    text-shadow: 2px 2px 2px white, 1px -1px 1px gray;
}

footer {
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* align-items: center; */
}

.footer_text {
    text-wrap: pretty;
}